.sleep-page-container {
  padding: 80px 20px 20px 20px; /* Top padding to account for fixed header */
}

.sleep-progress-container {
  display: flex;
  flex-direction: column;
}

.sleep-left-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 150px;
  width: 100%;
}

.sleep-right-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.sleep-btn {
  padding: 8px 12px;
  margin-block: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sleep-sleep-row {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
  border-radius: 4px;
}

.sleep-sleep-row.today {
  background-color: #aac9a056;
}

.sleep-sleep-row.today .sleep-timeline {
  background: #bfd4b6;
}

.sleep-timeline {
  width: 400px;
  min-width: 400px;
  position: relative;
  background: #dad8d3;
  border-radius: 4px;
  margin: 0 10px;
}

.sleep-segment {
  position: absolute;
  height: 22px;
  border-radius: 4px;
}

.sleep-total-hours {
  width: 70px;
  text-align: right;
  font-weight: bold;
  color: #4f6b57;
}

.sleep-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sleep-day-label {
  width: 30px;
}

.sleepinfo {
  display: flex;
  gap: 100px;
}

@media (max-width: 768px) {
  .sleep-page-container {
    padding: 60px 10px 10px 10px;
  }

  .sleep-left-column {
    gap: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .sleep-timeline {
    width: 300px;
    min-width: 300px;
    margin: 0 5px;
  }

  .sleep-day-label {
    width: 25px;
    font-size: 0.9rem;
  }

  .sleep-total-hours {
    width: 60px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .sleep-page-container {
    padding: 60px 5px 5px 5px;
  }

  .sleep-left-column {
    flex-direction: row;
    gap: 10px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
  }

  .sleep-timeline {
    width: 250px;
    min-width: 250px;
    margin: 0;
  }

  .sleep-day-label {
    width: 20px;
    font-size: 0.8rem;
  }

  .sleep-total-hours {
    width: 50px;
    font-size: 0.8rem;
  }

  .sleepinfo {
  gap: 10px;
  }
}
